@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

*{ margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { font-family:"pretendard","맑은 고딕", sans-serif; font-size: 16px; color: #333; }
li {list-style: none;}
img, video, input { vertical-align: middle; }
a { text-decoration: none; }

/* inner 1600 1060 768 */
.inner { width: 1600px; margin: 0 auto; }
.grid { width: 1060px; margin: 0 auto; }
@media screen and (max-width:1060px) {
    .inner { width: 100%; padding: 0 20px; }
    .grid { width: 100%; padding: 0 20px;}
}
@media screen and (max-width:768px) {
    .inner { width: 100%; padding: 0 16px; }
    .grid { width: 100%; padding: 0 16px;}
}


header { position: fixed; left: 0; top: 0; width: 100%; height: 120px; background: #fff; border-bottom: 1px solid #ddd;  z-index: 9;  }
nav { position: relative; }
nav .logo { position: absolute; left: 50%; top: 32px; transform: translateX(-50%); }
.gnb { font-size: 20px; font-weight: 600; display: flex; }
.gnb>li { position: relative; }
.gnb>li:nth-child(1) { position: absolute; left: 0; top: 44px; }
.gnb>li:nth-child(2) { position: absolute; left: 200px; top: 44px; }
.gnb>li:nth-child(3) { position: absolute; left: 400px; top: 44px; }
.gnb>li:nth-child(4) { position: absolute; left: 1080px; top: 44px; }
.gnb>li:nth-child(5) { position: absolute; left: 1280px; top: 44px; }

.gnb>li>a { color: #333; }

/*서브 올메뉴*/
.gnb_depth1 { position: absolute; background: #fff; width: 100%; height: 160px; left: 0; top: 100px;  display: none; z-index: 9;}
.sub { position: relative; width: 1600; margin: 0 auto; display: flex; text-align: center; font-size: 18px; font-weight: 500;  }
.sub>li:nth-child(1) { position: absolute; left: 146px; }
.sub>li:nth-child(2) { position: absolute; left: 364px; }
.sub>li:nth-child(3) { position: absolute; left: 550px; }
.sub>li:nth-child(4) { position: absolute; left: 1230px; }
.sub>li:nth-child(5) { position: absolute; left: 1414px; }
.sub>li:nth-child(6) { position: absolute; left: 1650px;  }
.sub>li:nth-child(6) img { width: 100px; opacity: 0.2; }
.sub li div { margin-bottom: 20px; }
.sub a { color: #333; }
.sub li div:hover a { color: #E2383F; }



.icon { display: flex; position: absolute; right: 0; top: 44px; }
.ticket { margin-right: 20px;}
.ticket:hover { cursor: pointer; content: url(../images/icon/icon_ticket_hover1.png); }
.login:hover { cursor: pointer; content: url(../images/icon/icon_person_hover.png); }






footer { padding: 40px 0; background: #000; }
/* bottom1 */
.bottom1 { width: 100%; height: 100px; display: flex; justify-content: space-around; align-items: center; border-bottom: 1px solid #ddd; }
.bottom1 img { width: 100px; }




/* bottom2 */
.bottom2 { width: 100% ; height: 120px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ddd; }
.bot2_right { width: 50%; }
.bot2_right p { font-size: 18px; font-weight: 500; color: #fff; margin-bottom: 10px; }
.bot2_right ul { display: flex; justify-content: space-between; }
.bot2_right ul a { font-size: 15px; color: #fff; }




/* bottom3 */
.bottom3 { width: 100%; height: 120px; color: #fff;  }
.company { padding: 20px 0; display: flex; justify-content: space-between; flex-wrap: wrap; }
.bot3_left { width: 50%; }
.bot3_left p:nth-child(1) { margin-bottom: 10px;}
.bot3_right { width: 50%; }
.bot3_right p:nth-child(1) { margin-bottom: 10px;}






