/* 공통 */
.btn { font-weight: 600; background: #F5822B; width: 130px; height: 40px; line-height: 40px; text-align: center; border-radius: 8px; margin-left: 135px;  margin-top: 20px;}
.btn a { color: #000; }
h1 { font-size: 30px; font-weight: 600; text-align: center; }




/* 메인비주얼 */
#main_visual { width: 100%;  padding-top: 120px; background: #eee;  }
#main_visual .inner { display: flex; justify-content: space-between; }

.showcase { position: relative; width: 500px; height: 800px; background: #000; padding: 30px 50px; color: #fff; }
.showcase h1 { font-size: 30px; font-weight: 600; padding-bottom: 20px; }
.showcase img { width: 100%; margin-bottom: 20px; }
.showcase p { font-size: 20px;  }
.showcase .k_text { font-weight: 600; }

.swiper_showcase { width: 100%;  position: relative; display: flex; justify-content: center; overflow: hidden; text-align: center; }

.showcase {
    --swiper-navigation-size: 30px;
    --swiper-navigation-color: #fff;
}

#main_visual  .swiper-button-next { position: absolute; right:30px; top: 96%; }
#main_visual  .swiper-button-prev { position: absolute; left: auto; right:100px; top:96%; }
#main_visual  .swiper-pagination { position: absolute; left: auto; right:54px; top:94%; width: auto; height:30px; font-size: 22px; font-weight: 500; }


.thumb { position: relative; width: 1100px; height: 800px; display: flex; justify-content: center; padding: 140px 50px; color: #000; }
.thumb img { width: 100%; margin-bottom: 20px; }
.thumb p { font-size: 20px; }
.thumb .k_text { font-weight: 600; }
.thumb .btn { margin-left: 110px; }

.swiper_thumb { width: 80%; height: 800px;  position: relative;  overflow: hidden; text-align: center;}


/* sec_01 */
#sec_01 { padding: 100px 0; }
.archive_wrap { display: flex; justify-content: space-between; padding:60px 0; }
.archive_img a { width: 49%; }
.archive_img a img { border-radius: 10px; }
.archive_img a:nth-child(2) { display: none; }
.archive_img a:nth-child(3) { display: none; }

.archive_list { width: 49%;  font-size: 28px; font-weight: 500; }
.archive_list li { width: 100%; height: 120px; line-height: 120px; padding: 0 20px; border-bottom: 1px solid #eee; margin-bottom: 10px; }
.archive_list li:hover { border-bottom: none; border: 1px solid #333; border-radius: 10px; }
.archive_list li a { color: #333; }

/* sec_02 */
#sec_02 { padding: 100px 0; width: 100%; height: 450px; background: #FFF8EC; }
#sec_02 .grid { display: flex; justify-content: space-between; }

.sec_02_main { position: relative; width: 575px;  }
.swiper_main { display: flex; overflow: hidden; transform: translateY(30%); }
.sec_02_main .swiper-slide { display: flex; }
.main_img img { width: 300px; margin-right: 10px; }
.swiper_main h3 { font-size: 20px; margin-bottom: 20px; }
.swiper_main h2 { font-size: 25px; color: #E2383F; margin-bottom: 20px; }
.swiper_main p { font-size: 12px; color: #F5822B; margin-top: 70px; }

.sec_02_sub {position: relative; width: 474px; }
.swiper_sub { display: flex; overflow: hidden; transform: translateY(100%); }
.swiper_sub img { width: 150px; }

/* sec_02_2 */
#sec_02_2 { padding-top: 120px; }
.prog_list li { margin-bottom: 40px; }
.prog_list li a { display: flex; justify-content: space-between; flex-wrap: wrap; color: #333; }
.prog_list li div{ width: 48%; }
.prog_list li div:nth-child(1)  img { width: 100%; border-radius: 12px; overflow: hidden; }
.sec02_title {  width: 80px; height: 30px; line-height: 30px;  text-align: center; font-weight: 600; }
.prog_list li:nth-child(1) .sec02_title { background: #F27742;  }
.prog_list li:nth-child(2) .sec02_title { background: #CD9EFF; }
.prog_list li:nth-child(3) .sec02_title { background: #969696;  }
.sec02_text { font-weight: 500; margin: 20px 0; }
.sec02_date { font-size: 14px; }

/* sec_notice */
#sec_notice { padding: 120px 0; background: #eee; }
#sec_notice .inner { display: flex; justify-content: space-between; }
.notice_left { width: 30%; display: flex;  }
.more { margin: 5px 80px; width: 22px;  }
.more img { width: 100%; }
.notice_right { width: 68%; }
.notice_right li { width: 100%; height: 110px; line-height: 110px; border-bottom: 1px solid #333; }
.notice_right li a { display: flex; justify-content: space-between; color: #333; }
.noti_title { font-size: 20px; font-weight: 600; }
.noti_text {  font-weight: 600; }

/* sec_sns */
#sec_sns { width: 100%; height: 600px; padding: 100px 0; }
#sec_sns .inner { display: flex; justify-content: space-between; }
.sns_left { width: 70%; border-right: 1px solid #ddd; }
.channel {  display: flex; justify-content: space-around; }
.channel li { width: 200px; height: 400px; position: relative; transition: all 0.7s;  }
.channel li a { width: 100%; display: flex; justify-content: space-between; color:#fff; position: absolute; top: 80%; padding: 0 4%; }
.channel li:nth-child(1) { background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(../images/sns/sns_fold_01.jpg) no-repeat center; background-size: cover; }
.channel li:nth-child(2) { background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(../images/sns/sns_fold_02.jpg) no-repeat center; background-size: cover; }
.channel li:nth-child(3) { background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(../images/sns/sns_fold_03.jpg) no-repeat center; background-size: cover; }
.channel li:nth-child(4) { background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(../images/sns/sns_fold_04.jpg) no-repeat center ; background-size: cover; }
.sns_text { display: none; text-align: end;  }
.sns_text p:nth-child(1) { font-size: 20px; font-weight: 600; }

.channel li:nth-child(1):hover { width: 400px; background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(../images/sns/sns_hover_01.jpg) no-repeat center; background-size: cover; }
.channel li:nth-child(2):hover { width: 400px; background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(../images/sns/sns_hover_02.jpg) no-repeat center; background-size: cover; }
.channel li:nth-child(3):hover { width: 400px; background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(../images/sns/sns_hover_03.jpg) no-repeat center; background-size: cover; }
.channel li:nth-child(4):hover { width: 400px; background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)), url(../images/sns/sns_hover_04.jpg) no-repeat center; background-size: cover; }
.channel li:hover .sns_text { display: block; }

.sns_right { width: 29%; }
.sns { display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; }
.sns li { width: 50%; margin-bottom: 70px; }

