/* 타이틀 */
header .title { position: fixed; left: 50px; top: 60px; width: 100%; z-index: 9999; 
}
header h1 { position: absolute; left: 0; top: 0; font-size: 24px; font-weight: 700; line-height: 30px; color: #000; z-index: 2; }

/* contact */
.contact { position: fixed; left: 50px; bottom: 60px; z-index: 999; }
.contact p:nth-child(1) { font-weight: 700; line-height: 30px; color: #000; }
.contact p:nth-child(2) { font-size: 14px; font-weight: 700; line-height: 20px; color: #999; }
.contact p:nth-child(2) >span { padding: 0 10px; }

/* 메뉴버튼 */
.menu_btn { position: fixed;  right: 50px; top: 60px; width: 40px; height: 40px; border: 1px solid #000; z-index: 999; cursor: pointer; }
.menu_btn > span { position: absolute; left: 50%; display: block; width: 12px; height: 1px; background: #000; }
.menu_btn > span:nth-child(1) { top: 12px; transform: translateX(-50%); }
.menu_btn > span:nth-child(2) { top: 24px; transform: translateX(-50%); }
.rotate01 { animation: rotate01 0.5s forwards; }
.rotate02 { animation: rotate02 0.5s forwards; }

@keyframes rotate01 {
    0%{}
    50%{ top: 18px; transform: translateX(-50%); }
    100%{ top: 18px; transform: translateX(-50%) rotate(45deg); }
}
@keyframes rotate02 {
    0%{}
    50%{ top: 18px; transform: translateX(-50%); }
    100%{ top: 18px; transform: translateX(-50%) rotate(-45deg); }
}

/* 메뉴 */
.menu { position: fixed; left: 0; top: 0; width: 100%; height: 0; background: #fff; overflow: hidden;  z-index: 99; }
.menu_show { height: 100vh; padding: 160px 0; }

nav { display: flex; justify-content: center; align-items: center; }
.menu_title { padding: 40px; font-size: 80px; line-height: 100px; font-weight: 700; color: #ddd; }
.menu_title p:nth-child(2) { color: #333; }
.menu ul { padding: 40px; }
.menu ul li { padding-top: 24px; font-size: 26px; font-weight: 700; line-height: 52px; display: block; color: #000; } 
.menu ul li span {font-size: 18px; font-weight: 500; color: #999; } 

/* 페이지버튼 */
.page_btn { position: fixed; right: 50px; bottom: 60px; font-size: 20px; font-weight: 500; text-align: center;   z-index: 999; } 
.p_btn { display: inline-block; width: 40px; height: 40px; border: 1px solid #000; border-radius: 40px; line-height: 40px; color: #000; background: #fff; }
.p_btn.on { background: #000; color: #fff; }
.p_btn a { display: inline-block; }


section { position: relative; width: 100%; height: 100vh; }


/* 메인비주얼 */
#pf_intro { position: relative; width: 100%; height: 100vh; background: url(../img/mv_bg.png) no-repeat center; }
.main_visual { position: absolute; left: 12.5%; top: 50%; transform: translateY(-50%); width: 80%; }
.main_visual div { font-size: 80px; font-weight: 800; color: #000; }
.main_visual h2 { font-size: 30px; font-weight: 700; color: #000; padding: 40px 0 15px 0; }
.main_visual h2 span { display: inline-block; background: #38C6DE; color: #fff; }
.main_visual p { font-size: 18px; font-weight: 300; line-height: 26px; }

/* 본문 */
.pf { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 75%; }
.pf ul { display: flex; justify-content: end; width: 100%; text-align: right; }
.pf ul li { margin: 15px 0; margin-left: 10px; }
.pf ul li a { display: block; font-size: 18px; font-weight: 700; line-height: 44px; padding: 0 22px; background: #000; color: #fff; border-radius: 50px; }
.pf ul li:last-child a { background: #ddd; color: #333; }
.main_img {  width: 100%;}
.main_img img { width: 100%; }
.info { display: flex; justify-content: space-between; padding: 20px 0; }
.info span { font-size: 14px; font-weight: 600; line-height: 24px; color: #66B9C7; }
.info h2 { font-size: 30px; color: #000; line-height: 40px; }
.info p { text-align: right; font-weight: 300; line-height: 24px; }

/* 디자인 */
.pf_sub { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-46%); width: 75%; display: flex; justify-content: space-around; flex-wrap: wrap; }
.sub_wrap { width: 33%; padding: 10px; cursor: pointer;   }
.sub_wrap a { display: block; }
.sub_img { position: relative; width: 365px; height: 205px; overflow: hidden; border-radius: 20px; }
.sub_img img { width: 100%; }
.sub_wrap p { text-align: center; margin-left: 16px; font-size: 14px; font-weight: 500; line-height: 25px; color: #999; }
.sub_wrap h4 { text-align: center; margin-left: 16px; font-size: 18px; font-weight: 800; }

.overlay { overflow: hidden; position: absolute; top: 0; left: 0; width: inherit; height: inherit; display: flex; justify-content: center; align-items: center; background: rgba(0,0,0,0.5); opacity: 0; transition: all 0.2s; }
.overlay p { color: #fff; }

.sub_wrap:hover .overlay { opacity: 1; }